@charset "UTF-8";
@import '../font/bahnschrift.css';


:root {
    --font-main: 'Bahnschrift', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    --font-mono: 'Consolas', 'Courier New', 'Courier', 'Lucida Console', 'Ubuntu Mono', monospace;

    --color-fg:                  #000;
    --color-gray:                #888;
    --color-bg:                  #FED;
    --color-bg-badge:            #9AE;
    --color-bg-transparent:      #FFEEDD99;
    --color-bg-hover:            #EDC;
    --color-bg-active:           #CB9;
    --color-control-bg:          #DCC;
    --color-control-bg-hover:    #CBB;
    --color-control-bg-active:   #BAA;
    --color-control-bg-disabled: var(--color-gray);
    --color-control-fg-disabled: #555;
    --color-control-fg-focused:  #26A;
    --color-control-bg-focused:  #CCD;
    --color-links:               #26A;

    --font-size: 12pt;

    --decoration-size: 110px;
    --badge-size: 50px;
    --menu-size: 50px;
    --min-width: 600px;
    --card-border: 4px;
    --card-height: 70px;
    --card-width: 50px;
    --player-width: 320px;
    --player-height: 300px;
    --player-scale: .8;

    background-color: var(--color-bg);
    font-family: var(--font-main);
    font-size: var(--font-size);
    color: var(--color-fg);
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    transition: opacity .3s;
}

.hidden,
.hidden * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    opacity: 0;
}

.admin-only:not(.hidden),
.admin-only:not(.hidden) * {
    display: none;
}

#main-container.admin .admin-only:not(.hidden),
#main-container.admin .admin-only:not(.hidden) * {
    display: revert;
}

input,
button,
textarea {
    border-radius: 0px;
    border: 1px solid var(--color-fg);
    background-color: var(--color-control-bg);
    font-family: var(--font-main);
    font-size: var(--font-size);
    color: var(--color-fg);
    padding: 2px;

    transition: color .3s, background-color .3s;
}

input:hover,
button:hover {
    background-color: var(--color-control-bg-hover);
    border-color: var(--color-fg-hover);
    color: var(--color-fg-hover);
}

input:active,
button:active {
    background-color: var(--color-control-bg-active);
    border-color: var(--color-fg-active);
    color: var(--color-fg-active);
}

input:disabled,
input[disabled],
button:disabled,
button[disabled],
textarea:disabled,
textarea[disabled] {
    background-color: var(--color-control-bg-disabled);
    border-color: var(--color-control-fg-disabledled);
    color: var(--color-control-fg-disabledled);
}

button:focus,
input:focus {
    background-color: var(--color-control-bg-focused);
    border-color: var(--color-control-fg-focused);
    color: var(--color-control-fg-focused);
    outline: 0;
}

button,
input[type="button"] {
    cursor: pointer;
}

hr {
    border: 0px solid transparent;
    border-bottom: 1px solid var(--color-fg);
}

a {
    text-decoration: underline;
    color: var(--color-links);
    cursor: pointer;
}

kbd {
    background-color: var(--color-bg-active);
    border: 1px solid var(--color-gray);
    font-family: var(--font-main);
    padding: 3px;
}

li {
    margin: 3px;
}



html {
    /* overflow: hidden; */
    height: 100%;
}

body {
    overflow: hidden;
    min-height: 100%;
    margin: 0px;
}

body.ready {
    min-width: var(--min-width);
}

#confetti-ego,
#confetti-other,
#background-container {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    background: transparent;
    pointer-events: none;
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

#confetti-ego {
    position: fixed;
    z-index: 5000;
}

#background-container {
    justify-content: center;
    align-items: center;
    position: fixed;
    display: flex;
    z-index: -10;
    opacity: 0;

    transition: opacity 2s;
    transition-delay: .2s;
}

body.ready #background-container {
    opacity: .5;
}

#background-container .fancy-title {
    transform: scale(2);
}

#main-container {
    background-image: url('../img/banner-vertical.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

@media (min-aspect-ratio: 1/1) {
    #main-container {
        background-image: url('../img/banner-horizontal.png');
    }
}

#notification-container {
    background-color: forestgreen;
    pointer-events: none;
    color: whitesmoke;
    justify-content: left;
    align-items: center;
    position: fixed;
    /* display: flex; */
    padding: 10px;
    z-index: 100;
    min-height: 50px;
    width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;

    transform: translateY(-100%);

    transition: all .4s;
}

#notification-container.error {
    background-color: firebrick;
}

#notification-container.visible {
    transform: translateY(0%);
    pointer-events: all;
}

#notification-close,
#notification-icon {
    padding: 0px 10px;
}

#notification-close {
    cursor: pointer;
}

#game-container,
#login-container,
#username-container,
#unblock-container,
#usage-container {
    align-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

#login-container,
#username-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

#login-form,
#username-form,
#usage-warning,
#unblock-instructions {
    border: 1px solid var(--color-fg);
    background-color: var(--color-bg);
    text-align: justify;
    word-break: normal;
    position: relative;
    /* overflow-y: auto; */
    padding: 20px;
    margin: auto;
    max-height: calc(100% - 100px);
    width: var(--min-width);
}

#usage-warning {
    background-color: lightcoral;
    color: darkred;
    z-index: 1000;
}

#usage-container hr {
    border: 0px solid transparent;
    border-bottom: 1px solid darkred;
}

#usage-warning-dismiss {
    border: 1px solid darkred;
    background-color: pink;
    font-weight: bold;
    color: darkred;
}

#usage-warning .hidden {
    display: none;
}

#login-decoration,
#login-loading,
#login-failed {
    pointer-events: none;
    position: absolute;
    margin: 0px;
    right: 0px;
    top: 0px;
}

#login-decoration {
    border: 0px solid transparent;
    height: var(--decoration-size);
    width: var(--decoration-size);
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-end;
    color: white;
    display: flex;
    z-index: 15;
}

#login-decoration::before {
    border: 0px solid transparent;
    border-left: var(--decoration-size) solid transparent;
    border-top: var(--decoration-size) solid blue;
    border-style: solid;
    position: absolute;
    content: '';
    z-index: -1;
    height: 0px;
    width: 0px;
    right: 0px;
}

#login-decoration .decoration {
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    background-size: 20px;
    padding-right: 27px;
    margin-right: 5px;
}

#login-decoration .decoration:first-of-type {
    margin-top: 5px;
}

#login-decoration .decoration[data-decoration="age"] {
    background-image: url('../img/decoration-child.svg');
}

#login-decoration .decoration[data-decoration="count"] {
    background-image: url('../img/decoration-group.svg');
}

#login-decoration .decoration[data-decoration="time"] {
    background-image: url('../img/decoration-time.svg');
}

.fancy-title {
    margin: 0px auto 50px auto;
    text-align: center;
    width: 100%;
}

#login-form .fancy-title {
    margin: 50px auto;
}

.fancy-title h1,
.fancy-title h3 {
    -webkit-transform: matrix(1, -.2, 0, 1, 0, 0);
        -ms-transform: matrix(1, -.2, 0, 1, 0, 0);
            transform: matrix(1, -.2, 0, 1, 0, 0);
}

.fancy-title h1 {
    text-shadow: 4px 5px #e6e6d8, 6px 7px #c6a39a;
    font-weight: normal;
    font-size: 80px;
    margin: -20px;
}

.fancy-title h3 {
    letter-spacing: .1em;
    position: relative;
    font-weight: 700;
    font-size: 20px;
    margin: 10px;
}

.fancy-title h3:before,
.fancy-title h3:after {
    border-bottom: 2px solid var(--color-fg);
    border-top: 2px solid var(--color-fg);
    position: absolute;
    content: '';
    height: 4px;
    width: 60px;
}

.fancy-title h3:before {
    margin: 5px 0 0 -70px;
}

.fancy-title h3:after {
    margin: 5px 0 0 10px;
}

#login-loading,
#login-failed {
    background-color: var(--color-bg);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    display: none;
    height: 100%;
    width: 100%;
    bottom: 0px;
    left: 0px;

    opacity: 0;
}

#login-loading {
    z-index: 20;
}

#login-failed {
    z-index: 21;
}

#login-form.loading #login-loading,
#login-form.failed #login-failed {
    pointer-events: all;
    display: flex;
    opacity: 1;
}

#login-loading span {
    padding-bottom: 100px;
    font-size: 3em;
}

#login-loading span::after {
    background-image: url('../img/loading.svg');
    left: calc(50% - 50px);
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    content: '';

    -webkit-animation: spin 6s linear infinite;
       -moz-animation: spin 6s linear infinite;
            animation: spin 6s linear infinite;
}

#login-failed span {
    text-align: justify;
    word-break: normal;
    padding: 20px;
}

#share-url,
#login-string,
#username-input,
#login-failed-dismiss,
#close-unblock-container,
#usage-warning-dismiss,
#logout-button,
#reset-logout-button,
#user-uuid {
    width: 100%;
}

#login-start,
#username-apply {
    min-width: 200px;
}

#login-hint {
    font-style: italic;
    font-weight: bold;
    font-size: .9em;
    color: firebrick;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#username-container .first-only,
#username-container:not(.first-time) .first-only {
    display: hidden;
}

#username-container.first-time .first-only {
    display: unset;
}

#username-error {
    font-style: italic;
    color: firebrick;
}

#game-container {
    position: fixed;
    height: 100%;
    bottom: unset;
}

#unblock-instructions {
    flex-direction: column;
    text-align: left;
    display: flex;
    height: 600px;
    z-index: 100;
}

#unblock-instructions img {
    max-width: 98%;
}

#unblock-cerificate {
    margin: 2px 0px 5px 0px;
    width: 350px;
}

#instruction-selector {
    border: 1px solid var(--color-fg);
    flex-flow: column;
    display: flex;
    min-height: 100px;
}

#instruction-selector .tab-selector {
    border-bottom: 1px solid var(--color-fg);
    background-color: var(--color-control-bg);
    flex-flow: row;
    display: flex;
    height: 40px;
    width: 100%;
}

#instruction-selector .tab-selector .tab {
    border-right: 1px solid var(--color-fg);
    background-color: var(--color-bg);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    min-width: 70px;
    display: flex;
}

#instruction-selector .tab-container {
    overflow-y: auto;
    width: 100%;
    flex: 1;
}

#instruction-selector .tab-container .tab.hidden {
    display: none;
}

.menu-bar {
    border-right: 1px solid var(--color-fg);
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-image: url('../img/icon.png');
    background-position: 5px 5px;
    background-size: calc(var(--menu-size) - 10px);
    position: absolute;
    flex-flow: column;
    display: flex;
    padding: 50px 0px 0px 0px;
    height: 100%;
    width: calc(var(--menu-size) + 1px);
    z-index: 20;
    bottom: 0px;
    left: 0px;
    top: 0px;
}

.menu-spacer {
    width: var(--menu-size);
    min-height: 50px;
    height: 100%;
}

.menu-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(var(--menu-size) - 20px);
    min-height: var(--menu-size);
    height: var(--menu-size);
    width: var(--menu-size);
    cursor: pointer;
    padding: 10px;
}

.menu-item:hover,
#instruction-selector .tab-selector .tab:hover {
    background-color: var(--color-bg-hover);
}

.menu-item:active,
.menu-item.active,
#instruction-selector .tab-selector .tab:active,
#instruction-selector .tab-selector .tab.active {
    background-color: var(--color-bg-active);
}

.menu-item[data-tab="game"] {
    background-image: url('../img/menu-cards.svg');
    transform: rotate(180deg);
}

.menu-item[data-tab="leaderboard"] {
    background-image: url('../img/menu-leaderboard.svg');
}

.menu-item[data-tab="notifications"] {
    background-image: url('../img/menu-notifications.svg');
}

.menu-item[data-tab="settings"] {
    background-image: url('../img/menu-settings.svg');
}

.menu-item[data-tab="players"] {
    background-image: url('../img/menu-players.svg');
}

.menu-item[data-tab="share"] {
    background-image: url('../img/menu-share.svg');
}

.menu-item[data-tab="help"] {
    background-image: url('../img/menu-help.svg');
}

.menu-item[data-tab="logout"] {
    background-image: url('../img/menu-logout.svg');
}

.menu-item::after {
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    display: block;
    bottom: -16px;
    right: -16px;
    height: 16px;
    width: 16px;
}

.menu-item:hover::after {
    background-color: var(--color-bg-hover);
}

.menu-item:active::after,
.menu-item.active::after {
    background-color: var(--color-bg-active);
}

.menu-item[data-tab="notifications"][data-count]::after {
    content: '(' attr(data-count) ')';
    font-weight: bold;
    font-size: .8em;
}

#main-container.admin .menu-item[data-tab="players"]::after,
#main-container.admin .menu-item[data-tab="settings"]::after {
    background-image: url('../img/admin.svg');
    background-position: center;
    content: '';
}

.menu-content-holder {
    background-color: var(--color-bg-transparent);
    position: absolute;
    padding: 0px 0px 0px calc(var(--menu-size) + 1px);
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

.menu-content {
    text-align: justify;
    position: absolute;
    word-break: normal;
    word-wrap: normal;
    overflow-y: auto;
    padding: 20px;
    height: 100%;
}

.menu-content[data-tab="notifications"] {
    flex-direction: column;
    display: flex;
}

span.player-name {
    color: var(--color-control-fg-focused);
}

span.player-name[data-admin]::before {
    background-image: url('../img/admin.svg');
    background-repeat: no-repeat;
    background-size: 100%;
    display: inline-block;
    content: ' ';
    height: .8em;
    width: .8em;
}

span.player-name[data-is-me]::after {
    background-color: var(--color-bg-badge);
    border: 1px solid var(--color-fg);
    color: var(--color-fg);
    border-radius: 30px;
    margin-right: 4px;
    padding: 1.5px 3px;
    font-size: .7em;
    content: 'You';
}

.notification-list-wrapper {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

#player-list,
#leaderboard-list,
#notification-list {
    max-height: 100%;
}

#player-list table,
#leaderboard-list table,
#notification-list table {
    border-collapse: collapse;
}

#player-list table,
#player-list tbody,
#player-list tr,
#leaderboard-list table,
#leaderboard-list tbody,
#leaderboard-list tr,
#notification-list table,
#notification-list tbody,
#notification-list tr {
    width: 100%;
}

#player-list td.admin-only {
    width: 130px;
}

#player-list td.admin-only button {
    width: 100%;
}

#player-list tr,
#player-list td,
#leaderboard-list tr,
#leaderboard-list td,
#notification-list tr,
#notification-list td {
    height: 30px;
}

#player-list tr td.separator,
#player-list tr.separator td,
#leaderboard-list tr:not(:last-child) td,
#notification-list tr:not(:last-child) td {
    border-bottom: 1px solid var(--color-fg);
}

#player-list td.level,
#notification-list td.status {
    width: 30px;
}

#player-list td.level.admin {
    background-image: url('../img/admin.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
}

#player-list td span {
    background-color: var(--color-bg-badge);
    border: 1px solid var(--color-fg);
    background-position: center;
    border-radius: 30px;
    margin-left: 10px;
    padding: 2px 7px;
    font-size: .7em;
}

#notification-list td.content {
    width: 100%;
}

#notification-list td.status {
    background-position: 0px center;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    min-width: 20px;
}

#notification-list td.status.failure {
    background-image: url('../img/notifications-failure.svg');
}

#notification-list td.time {
    padding-right: 10px;
    text-align: right;
    min-width: 140px;
}

#logout-button,
#reset-logout-button {
    background-color: lightcoral;
    color: firebrick;
}

#share-container {
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    width: 100%;
}

#share-container .share[data-service] {
    background-position: 3px center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    padding: 0px 0px 0px 20px;
    height: 40px;
    width: 160px;
    margin: 5px;
}

#share-container .share[data-service="whatsapp"] {
    background-image: url('../img/share-whatsapp.svg');
}

#share-container .share[data-service="twitter"] {
    background-image: url('../img/share-twitter.svg');
}

#share-container .share[data-service="facebook"] {
    background-image: url('../img/share-facebook.svg');
}

#share-container .share[data-service="instagram"] {
    background-image: url('../img/share-instagram.svg');
}

#share-container .share[data-service="threema"] {
    background-image: url('../img/share-threema.svg');
}

#share-container .share[data-service="reddit"] {
    background-image: url('../img/share-reddit.svg');
}

#share-container .share[data-service="linkedin"] {
    background-image: url('../img/share-linkedin.svg');
}

#share-container .share[data-service="tumblr"] {
    background-image: url('../img/share-tumblr.svg');
}

#share-container .share[data-service="pinterest"] {
    background-image: url('../img/share-pinterest.svg');
}

#share-container .share[data-service="telegram"] {
    background-image: url('../img/share-telegram.svg');
}

#share-container .share[data-service="vk"] {
    background-image: url('../img/share-vk.svg');
}

#share-container .share[data-service="skype"] {
    background-image: url('../img/share-skype.svg');
}

#share-container .share[data-service="sms"] {
    background-image: url('../img/share-sms.svg');
}

#share-container .share[data-service="email"] {
    background-image: url('../img/share-email.svg');
}

#share-container .share[data-service="native"] {
    background-image: url('../img/share-native.svg');
}

.qr-wrapper {
    justify-content: center;
    display: flex;
    padding: 10px;
}

#main-game {
    flex-flow: column;
    display: flex;
    padding: 0px var(--menu-size) 0px 0px;
    height: 100%;
    width: 100%;
}

.game-state {
    border-bottom: 1px solid var(--color-fg);
    background-color: var(--color-bg);
    flex-direction: row;
    display: flex;
    min-height: 40px;
    width: 100%;
}

.game-state button {
    min-width: 100px;
    height: 30px;
    margin: auto;
}

.game-state button.hidden {
    display: none;
}

.playing-field-holder {
    overflow-y: scroll;
    flex: 1;
}

.playing-field {
    justify-content: space-evenly;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
}

.other-player {
    height: calc(var(--player-height) * var(--player-scale));
    width: calc(var(--player-width) * var(--player-scale));
    margin: 5px;
}

.other-player .player {
    transform: scale(var(--player-scale));
    transform-origin: top left;
}

#confetti-other {
    position: absolute;
    z-index: 4000;
}

.ego-side {
    border-top: 1px solid var(--color-fg);
    background-color: var(--color-bg);
    justify-content: space-evenly;
    flex-direction: row;
    display: flex;
    padding: 15px 15px 30px 15px;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

#ego-player {
    justify-content: center;
    flex-direction: row;
    display: flex;
}

.player {
    background-color: #BBAAAA77;
    background-image: radial-gradient(
        circle,
        var(--color-control-bg-active) 25%,
        transparent 10%
    ), radial-gradient(
        circle,
        var(--color-control-bg-active) 25%,
        transparent 10%
    );
    background-size: 5px 5px;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6px;
    display: flex;
    height: var(--player-height);
    width: var(--player-width);
}

.player .player-cards,
.player .player-footer {
    padding: 5px;
}

.player .player-cards {
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    display: flex;
    width: 100%;
}

.player.current {
    animation: current-player .75s infinite ease-out alternate-reverse;
}

@keyframes current-player {
    0% {
        box-shadow: 0px 0px 0px 1px blue;
    }
    100% {
        box-shadow: 0px 0px 0px 2.5px blue;
    }
}

.player .on-current {
    color: blue;
    opacity: 0;

    transition: opacity .4s;
}

.player.current .on-current {
    opacity: 1;
}

.player-side {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
    height: 100%;
}

.player-rank[data-rank] {
    background-image: url('../img/stars.png');
    background-size: auto var(--badge-size);
    background-repeat: no-repeat;
    background-position-x: -100%;
    padding-top: calc(var(--badge-size) - 6px);
    width: var(--badge-size);
    text-align: center;
    font-weight: bold;
    font-size: 1.2em;
    display: block;
}

.player-rank[data-rank="1"] {
    background-position-x: 100%;
    color: #dc9630;
}

.player-rank[data-rank="2"] {
    background-position-x: 50%;
    color: dimgray;
}

.player-rank[data-rank="3"] {
    background-position-x: 0%;
    color: chocolate;
}

.right-side {
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    display: flex;
}

#instructions {
    max-width: 200px;
}

.piles {
    justify-content: space-around;
    align-items: center;
    position: relative;
    flex-flow: row;
    display: flex;
    padding: 0px 10px 0px 0px;
    width: 150px;
}

.pile,
.player {
    border-radius: calc(var(--card-border) * 2);
    border: 1px solid var(--color-gray);
}

.pile {
    background: linear-gradient(
        -45deg,
        var(--color-control-bg) 12.5%,
        var(--color-bg-hover) 12.5%,
        var(--color-bg-hover) 37.5%,
        var(--color-control-bg) 37.5%,
        var(--color-control-bg) 62.5%,
        var(--color-bg-hover) 62.5%,
        var(--color-bg-hover) 87.5%,
        var(--color-control-bg) 87.5%
    );
    background-size: 20px 20px;

    height: calc(var(--card-height) + 4px);
    width: calc(var(--card-width) + 4px);
    padding: 2px;
}

.pile[data-annotation]::after {
    content: attr(data-annotation);
    position: relative;
    text-align: center;
    display: block;
    font-size: .8em;
    margin-top: 5px;
    width: 150%;
    left: -25%;
}

.pile[data-annotation]:empty::after {
    top: 100%;
}

.card {
    background-image: url('../img/card-back.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid var(--color-fg);
    border-radius: var(--card-border);
    max-height: var(--card-height);
    max-width: var(--card-width);
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100%;
    width: 100%;
}

.card[data-value]:not([data-value="null"]) {
    background-image: url('../img/card-front.png');

    --base-color: 255, 255, 255;
}

.card[data-value]:not([data-value="null"]) span {
    background: radial-gradient(circle at center, #FFFFFF88, #FFFFFF88 40%, rgba(var(--base-color), 0.3) 40%);
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.5em;
    display: flex;
    height: 100%;
    width: 100%;
}

.card[data-value="-2"] span,
.card[data-value="-1"] span {
    --base-color: 0, 0, 255;
}

.card[data-value="0"] span {
    --base-color: 0, 255, 255;
}

.card[data-value="1"] span,
.card[data-value="2"] span,
.card[data-value="3"] span,
.card[data-value="4"] span {
    --base-color: 0, 255, 0;
}

.card[data-value="5"] span,
.card[data-value="6"] span,
.card[data-value="7"] span,
.card[data-value="8"] span {
    --base-color: 255, 255, 0;
}

.card[data-value="9"] span,
.card[data-value="10"] span,
.card[data-value="11"] span,
.card[data-value="12"] span {
    --base-color: 255, 0, 0;
}

.card.ui-draggable,
.card.ui-draggable-handle,
.card[draggable="true"] {
    -webkit-user-drag: element;
    cursor: move;
}

.card.drag-active,
.card.ui-draggable-dragging {
    z-index: 100;
    opacity: .6;
}

.card.drag-allowed::before {
    // TODO : make cursor bobbing animation
}

.card.click-allowed::before {
    // TODO : make cursor bobbing animation
}

.card.drag-allowed,
.card.click-allowed {
    animation: interactable-card .75s infinite ease-out alternate-reverse;
}

@keyframes interactable-card {
    0% {
        box-shadow: 0px 0px 0px 1px dodgerblue;
    }
    100% {
        box-shadow: 0px 0px 0px 2px dodgerblue;
    }
}

.pile.drag-active {
    --color-control-bg: lightcoral;
    --color-bg-hover: lightsalmon;
}

.pile.drop-allowed.drag-active {
    --color-control-bg: lightgreen;
    --color-bg-hover: palegreen;
}

.pile.drag-over {
    --color-control-bg: Crimson;
    --color-bg-hover: IndianRed;
}

.pile.drop-allowed.drag-over {
    --color-control-bg: green;
    --color-bg-hover: forestgreen;
}









