@charset "UTF-8";
@import '../font/bahnschrift.css';


:root {
    --font-main: 'Bahnschrift', 'Helvetica', 'Arial', 'Lucida Grande', sans-serif;
    --font-mono: 'Consolas', 'Courier New', 'Courier', 'Lucida Console', 'Ubuntu Mono', monospace;

    --color-fg:                  #000;
    --color-bg:                  #FED;
    --color-bg-hover:            #FCB;
    --color-bg-active:           #CB9;
    --color-control-bg:          #DCC;
    --color-control-bg-hover:    #CBB;
    --color-control-bg-active:   #BAA;
    --color-control-bg-disabled: #888;
    --color-control-fg-disabled: #555;
    --color-control-fg-focused:  #26A;
    --color-control-bg-focused:  #CCD;
    --color-links:               #26A;

    --font-size: 12pt;

    --menu-size: 50px;

    background-color: var(--color-bg);
    font-family: var(--font-main);
    font-size: var(--font-size);
    color: var(--color-fg);
}

* {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    transition: opacity .3s;
}

.hidden,
.hidden * {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    pointer-events: none;
    opacity: 0;
}

input,
button,
textarea {
    border-radius: 0px;
    border: 1px solid var(--color-fg);
    background-color: var(--color-control-bg);
    font-family: var(--font-main);
    font-size: var(--font-size);
    color: var(--color-fg);
    padding: 2px;

    transition: color .3s, background-color .3s;
}

input:hover,
button:hover {
    background-color: var(--color-control-bg-hover);
    border-color: var(--color-fg-hover);
    color: var(--color-fg-hover);
}

input:active,
button:active {
    background-color: var(--color-control-bg-active);
    border-color: var(--color-fg-active);
    color: var(--color-fg-active);
}

input:disabled,
input[disabled],
button:disabled,
button[disabled],
textarea:disabled,
textarea[disabled] {
    background-color: var(--color-control-bg-disabled);
    border-color: var(--color-control-fg-disabledled);
    color: var(--color-control-fg-disabledled);
}

button:focus,
input:focus {
    background-color: var(--color-control-bg-focused);
    border-color: var(--color-control-fg-focused);
    color: var(--color-control-fg-focused);
    outline: 0;
}

button,
input[type="button"] {
    cursor: pointer;
}

a {
    text-decoration: underline;
    color: var(--color-links);
    cursor: pointer;
}


html {
    /* overflow: hidden; */
    height: 100%;
}

body {
    overflow: hidden;
    min-height: 100%;
    margin: 0px;
}

#main-container {
    background-image: url('../img/banner-vertical.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

@media (min-aspect-ratio: 1/1) {
    #main-container {
        background-image: url('../img/banner-horizontal.png');
    }
}

#notification-container {
    background-color: forestgreen;
    pointer-events: none;
    color: whitesmoke;
    justify-content: left;
    align-items: center;
    position: fixed;
    /* display: flex; */
    padding: 10px;
    z-index: 100;
    min-height: 50px;
    width: 100%;
    right: 0px;
    left: 0px;
    top: 0px;

    transform: translateY(-100%);

    transition: all .4s;
}

#notification-container.error {
    background-color: firebrick;
}

#notification-container.visible {
    transform: translateY(0%);
    pointer-events: all;
}

#notification-close,
#notification-icon {
    padding: 0px 10px;
}

#notification-close {
    cursor: pointer;
}

#game-container,
#login-container,
#username-container,
#usage-container {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;
}

#login-container,
#username-container,
#usage-container {
    justify-content: center;
    align-items: center;
    display: flex;
}

#login-form,
#username-form,
#usage-warning {
    border: 1px solid var(--color-fg);
    background-color: var(--color-bg);
    text-align: justify;
    word-break: normal;
    position: absolute;
    padding: 20px;
    width: 500px;
}

#usage-warning {
    background-color: lightcoral;
    color: firebrick;
    font-size: 1.2em;
    z-index: 1000;
}

#login-loading,
#login-failed {
    background-color: var(--color-bg);
    pointer-events: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;
    top: 0px;

    opacity: 0;
}

#login-form.loading #login-loading,
#login-form.failed #login-failed {
    pointer-events: all;
    opacity: 1;
}

#login-loading span {
    padding-bottom: 100px;
    font-size: 3em;
}

#login-loading span::after {
    background-image: url('../img/loading.svg');
    left: calc(50% - 50px);
    position: absolute;
    display: block;
    height: 100px;
    width: 100px;
    content: '';

    -webkit-animation: spin 6s linear infinite;
       -moz-animation: spin 6s linear infinite;
            animation: spin 6s linear infinite;
}

#login-failed span {
    text-align: justify;
    word-break: normal;
    padding: 20px;
}

#login-string,
#username-input {
    width: 100%;
}

#login-start,
#username-apply {
    min-width: 200px;
}

#login-failed-dismiss,
#usage-warning-dismiss {
    width: 100%;
}

#login-hint {
    font-style: italic;
    font-weight: bold;
    font-size: .9em;
    color: firebrick;
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

#username-container .first-only,
#username-container:not(.first-time) .first-only {
    display: hidden;
}

#username-container.first-time .first-only {
    display: unset;
}

#username-error {
    font-style: italic;
    color: firebrick;
}

#game-container {
    position: absolute;
    height: 100%;
    bottom: unset;
}

.menu-bar {
    border-right: 1px solid var(--color-fg);
    background-color: var(--color-bg);
    background-repeat: no-repeat;
    background-image: url('../img/icon.png');
    background-position: 5px 5px;
    background-size: calc(var(--menu-size) - 10px);
    position: absolute;
    flex-flow: column;
    display: flex;
    padding: 50px 0px 0px 0px;
    height: 100%;
    width: calc(var(--menu-size) + 1px);
    bottom: 0px;
    left: 0px;
    top: 0px;
}

.menu-spacer {
    width: var(--menu-size);
    min-height: 50px;
    height: 100%;
}

.menu-item {
    background-position: center;
    background-repeat: no-repeat;
    background-size: calc(var(--menu-size) - 20px);
    cursor: pointer;
    padding: 10px;
    height: var(--menu-size);
    width: var(--menu-size);
}

.menu-item:hover {
    background-color: var(--color-bg-hover);
}

.menu-item:active {
    background-color: var(--color-bg-active);
}

.menu-item[data-icon="game"] {
    background-image: url('../img/menu-cards.svg');
    transform: rotate(180deg);
}

.menu-item[data-icon="notifications"] {
    background-image: url('../img/menu-notifications.svg');
}

.menu-item[data-icon="settings"] {
    background-image: url('../img/menu-settings.svg');
}

.menu-item[data-icon="share"] {
    background-image: url('../img/menu-share.svg');
}

.menu-item[data-icon="logout"] {
    background-image: url('../img/menu-logout.svg');
}





